{% extends "juice/templates/index.html" %} {% block hero %}
    <script async defer src="https://buttons.github.io/buttons.js"></script>    

    <div class="image-container">
        <img class="hero-image" style="width: 100%" src="{{ get_url(path="handcrafted-software.png") }}">        
    </div>
    <div class="overlay-text">
        <section class="headline">
            We write software with pride and care. <br/>No AI, no subscriptions.<br/><br/>            
            Unpretentious and aiming to please,<br/>not take over the world.<br/><br/>
        </section>
        <section class="contact-action">
            Sounds up your alley? <a href="mailto:alexandre.normand@gmail.com?subject=Handcrafted%20Software">Email us 📨</a>
        </section>        
    </div>    
    <style>
        .hero section {
            padding: 0 5rem;
        }

        @media screen and (max-width: 768px) {
            .hero section {
                padding: 0 2rem;
            }

            .hero-image {
                display: none
            }
        }
    </style>
{% endblock hero %}

{% block content %}
<div id="manifesto" class="manifesto">
{{ section.content | safe }}
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block sidebar %}
{% endblock sidebar %}

{% block toc %}
{% endblock toc %}

{% block favicon %}
<link rel="icon" type="image/x-icon" href="{{ get_url(path="favicon.ico") }}">
{% endblock favicon %}